@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@100;200&display=swap');

body {
  background-color: #F7F5F2;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: rgb(95, 95, 147);
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  line-height: 32px;
}

h1 {
  color: rgb(95, 95, 147);
  font-size: 36px;
}

h2 {
  color: rgb(98, 98, 192);
  font-size: 22px;
}

a {
  color: #9d2f4c;
  font-weight: bolder;
  text-decoration: none;
}

a:hover {
  color: #F56D91
}

/* Class selectors */

.container {
  width: 700px;
  margin: 40px auto;
}

.text-center {
  text-align: center;
}

.card-white {
  background-color: white;
  /* width: 500px; */
  padding: 40px;
  margin: 20px auto;
  box-shadow: 0px 10px 30px rgba(223, 223, 222, 0.8);
  border-radius: 2%;
}

.img-circle {
  border-radius: 50%;
}

.logo {
  width: 125px;
  opacity: 0.9;
}

.list-inline {
  display: inline-block;
  padding: 0px 20px;
}

.ul-padding {
  list-style: none;
  padding-left: 0px;
}

.btn-red {
  background-color:#9d2f4c;
  color: white;
  padding: 8px;
  border-radius: 8%;
}

.btn-red:hover {
  background-color:#F56D91;
  color: white;
}

/* Page responsiveness */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
